spring:
  application:
    name: finance-service
  datasource:
    url: jdbc:h2:mem:aifinance
    driverClassName: org.h2.Driver
    username: sa
    password: 
  jpa:
    hibernate:
      ddl-auto: create-drop
    database: h2
    show-sql: false
    properties:
      hibernate.format_sql: true
  h2:
    console:
      enabled: true
  flyway:
    enabled: false
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://localhost:8888/realms/aifa

server:
  port: 8081

management:
  endpoints:
    web:
      exposure:
        include: "health,info"
