spring:
  application:
    name: finance-service
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: create-drop
    show-sql: false
  datasource:
    url: jdbc:h2:mem:aifinance
    driver-class-name: org.h2.Driver
    username: sa
    password:
  h2:
    console:
      enabled: true
  flyway:
    enabled: false
    baseline-on-migrate: true

server:
  port: 8081
  servlet:
    context-path: /

logging:
  level:
    root: INFO
    com.aifa: DEBUG
