spring:
  application:
    name: gateway
  redis:
    host: localhost
    port: 6379
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://localhost:8888/realms/aifa
  cloud:
    gateway:
      default-filters:
        - name: RequestRateLimiter
          args:
            redis-rate-limiter.replenishRate: 10
            redis-rate-limiter.burstCapacity: 20
      routes:
        - id: finance-service
          uri: http://localhost:8080
          predicates:
            - Path=/api/finance/**
          filters:
            - StripPrefix=2
        - id: ai-service
          uri: http://localhost:8001
          predicates:
            - Path=/api/ai/**
          filters:
            - StripPrefix=2

server:
  port: 8082

management:
  endpoints:
    web:
      exposure:
        include: "health,info"
